{% extends 'base/base.html' %}

{% block title %}
    RCI
{% endblock %}

{% block content %}

<div class="container text-center mt-3">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
       {{ message }}
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <h1>Transactions Per Fund</h1>
    <div class="d-flex flex-row flex-wrap justify-content-center gap-2">
        {% for model, data in app_models.items %}
            <div class="text-dark px-3 border-5 border-bottom border-dark rounded" style="background-color: rgb(255, 255, 255);">
                <a href="/rci/index/{{model | slugify}}" class="fw-medium text-decoration-none text-dark">{{ model }}</a>
                <hr class="m-1">
                <h1 class="py-2">{{ data.data | length }}</h1>
                <hr class="m-1">
                {% if data.data %}
                <p class="m-0">{{data.min_date.dte__min | date:"F"}} - {{data.max_date.dte__max | date:"F"}}</p>
                <p class="m-0 fw-medium">{{ data.min_check.check_no__min }} - {{ data.max_check.check_no__max }}</p>
                {% else %}
                <p>No Records</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <button class="btn btn-secondary m-3">
        <a href="/rci/load-rci-data/" class="text-center text-decoration-none text-light">Refresh Data</a>
    </button>
</div>

{% endblock %}