{% extends 'base/base.html' %}

{% block content %}
<div class="container text-left">
    <div class="row justify-content-center align-items-center">
        <div class="col bg-light rounded mt-3 border border-5 border-primary border-end-0 border-top-0 border-start-0">
            LFPS
            <div class="row">
                <div class="col d-flex gap-2 mb-3 align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                    <h3>234 entries</h3>
                </div>
                
            </div>
        </div>
        <div class="col bg-light rounded mt-3 mx-3 border border-5 border-success border-end-0 border-top-0 border-start-0">
            COB
            <div class="row">
                <div class="col d-flex gap-2 mb-3 align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                    <h3>234 entries</h3>
                </div>
                
            </div>
        </div>
        <div class="col bg-light rounded mt-3 border border-5 border-warning border-end-0 border-top-0 border-start-0">
            CARP
            <div class="row">
                <div class="col d-flex gap-2 mb-3 align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                    <h3>234 entries</h3>
                </div>
                
            </div>
        </div>
        <div class="col bg-light rounded mt-3 ms-3 border border-5 border-danger border-end-0 border-top-0 border-start-0">
            Other Funds
            <div class="row">
                <div class="col d-flex gap-2 mb-3 align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                    <h3>0 entry/s</h3>
                </div>
                
            </div>
        </div>
    </div>

    <div class="row mt-2 align-items-center flex-wrap">
        <div class="row mt-2 align-items-center flex-wrap">

            <div class="col-12 col-sm bg-light rounded m-3">
                <h2>Donut Chart</h2>
             
                <div id="donut-chart"></div>
            
            </div>
            
        </div>

        <div class="col-12 col-sm bg-light rounded">
            <h2>Line Chart</h2>
            <div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

</div>

<script>
    let chart = bb.generate({
        data: {
            columns: [
                ["Blue", 2],
                ["orange", 4],
                ["green", 3],
            ],
            type: "donut",
            onclick: function (d, i) {
                console.log("onclick", d, i);
            },
            onover: function (d, i) {
                console.log("onover", d, i);
            },
            onout: function (d, i) {
                console.log("onout", d, i);
            },
        },
        donut: {
            title: "70",
        },
        bindto: "#donut-chart",
    });
</script>

<script>
    let ctx = document.getElementById("myChart").getContext("2d");
    let myChart = new Chart(ctx, {
        type: "line",
        data: {
            labels: [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday",
            ],
            datasets: [
                {
                    label: "work load",
                    data: [2, 9, 3, 17, 6, 3, 7],
                    backgroundColor: "rgba(153,205,1,0.6)",
                },
                {
                    label: "free hours",
                    data: [2, 2, 5, 5, 2, 1, 10],
                    backgroundColor: "rgba(155,153,10,0.6)",
                },
            ],
        },
    });
</script>

{% endblock %}